/frontend/.phpunit.cache
/frontend/node_modules
/frontend/public/build
/frontend/public/hot
/frontend/public/storage
/frontend/storage/*.key
/frontend/storage/pail
/frontend/vendor
/frontend/.env
/frontend/.env.backup
/frontend/.env.production
/frontend/.phpactor.json
/frontend/.phpunit.result.cache
/frontend/Homestead.json
/frontend/Homestead.yaml
/frontend/npm-debug.log
/frontend/yarn-error.log
/frontend/auth.json
/frontend/.fleet
/frontend/.idea
/frontend/.nova
/frontend/.vscode
/frontend/.zed
/frontend/skript.txt
.env